.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui.vertical.menu > .item:last-child {
	border-radius: 0rem 0rem 0rem 0rem !important;
}

.ui.vertical.menu > .item:first-child {
	border-radius: 0rem 0rem 0rem 0rem !important;
}

.ui.vertical.menu.noborder, .ui.inverted.segment.noborder, .ui.menu.noborder{
	border-radius: 0rem 0rem 0rem 0rem !important;
}

.ui.inverted.segment {
	padding-left: 0px;
}
/*html * {*/
/*	font-family: 'Rubik' !important;*/
/*}*/


.header, .item {
	font-family: 'Rubik' !important;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
	background: #282c34 !important;
}

.ui.inverted.menu {
	background: #282c34 !important;
}

.ui.vertical > .item {
	padding-left: 1.5em !important;
}

.ui.vertical.menu .menu .item {
	background: 0 0;
	padding: .5em 1.33333333em;
	font-size: 1em !important;
	color: rgba(0, 0, 0, 1) !important;
}

.ui.vertical > .item {
	border-bottom-style: inset;
	border-bottom-width: 1px;
}

.ui.message {
	margin-top: 0px !important;
}

.sideBarContent{
	background-color: #ffffff !important;
	width: 280px;
}

.ui.column.grid{
	width: 100vw !important;
	margin-left: 0;
}

.center.aligned.middle.aligned.four.wide.mobile.column{
}

.footer{
	box-shadow: 0 -5px 5px -5px #333;
	padding-top: 0 !important;
}

.footerItem{
	height: 4.5em;
	/*padding: 1em 0.5em 1em 0.5em;*/
	padding-left: 0.5em !important;
	padding-right: 0.5em !important;
	padding-top: 1em !important;
	padding-bottom: 1em !important;
	vertical-align: center !important;
	text-align: center !important;
}

.footerItem.active{
	background-color: #282c34 !important;
	color: white;
}

/*.ui.toggle.checkbox input:focus:checked ~ .box:before, .ui.toggle.checkbox input:focus:checked ~ label:before {*/
/*	background-color: rgb(29, 185, 84) !important;*/
/*}*/

/*.ui.toggle.checkbox input:checked ~ .box:before, .ui.toggle.checkbox input:checked ~ label:before {*/
/*	background-color: rgb(29, 185, 84) !important;*/
/*}*/

/*.ui.toggle.checkbox input:checked ~ .box:before, .ui.toggle.checkbox input:checked ~ label:before {*/
/*	background-color: rgb(29, 185, 84) !important;*/
/*}*/

/*.rm.checkbox {*/
/*	background-color: rgb(29, 185, 84) !important;*/
/*}*/

#id {
	background-color: rgb(29, 185, 84) !important;
}

.theme.green.checked input:checked ~ label:before{
	background-color: #4CAF50!important;
	border-radius: 500rem;
}

.theme.green.checked input:focus:checked~label:before input:checked~.box:before{
	background-color: #4CAF50!important;
	border-radius: 500rem;
}

#green input:focus:checked~label:before input:checked~.box:before {
	background-color: #4CAF50 !important;
	border-radius: 500rem;
}

#green.theme.green.checked input:checked ~ label:before {
	background-color: #4CAF50 !important;
	border-radius: 500rem;
}

.ui.toggle.checkbox label:hover::before{

}

.ui.column.grid.feeds{
	/*margin-left: -5px;*/
	width: 100% !important;
}

.contentMessage{
	font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
